*.swp
*.suo
**/bin/*
**/obj/*
*.cachefile
*.Debug.cachefile
*.csproj.Debug.cachefile
*.ccgame
!*.dll
PyramidPanic/PyramidPanic/PyramidPanic/obj/
PyramidPanic/PyramidPanic/PyramidPanic/bin/
PyramidPanic/PyramidPanic/PyramidPanicContent/obj/
PyramidPanic/PyramidPanic/PyramidPanic/PyramidPanic.csproj.Debug.cachefile
