*.swp
*.suo
**/bin/
**/obj/
PyramidPanic/PyramidPanic/PyramidPanic/bin/
PyramidPanic/PyramidPanic/PyramidPanic/obj/
PyramidPanic/PyramidPanic/PyramidPanicContent/obj/x86/Debug/PyramidPanicContent.contentproj.FileListAbsolute.txt
**/bin/*
**/obj/*
*.cachefile
*.Debug.cachefile
*.ccgame
!*.dll
*.xls